<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	  <title>ADL XCI</title>

	  <!-- CSS  -->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<main>
	<body>
		<ul id="dropdown1" class="dropdown-content">
		  <li><a href="{{ url_for('login') }}">Login</a></li>
		  <li><a href="{{ url_for('sign_up') }}">New User</a></li>

		</ul>
		<nav class="blue" role="navigation">
			<div class="nav-wrapper">
			      <a href="#" class="brand-logo right">XCI</a>
			      <ul id="nav-mobile" class="left hide-on-med-and-down">
			        <li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('me') }}">{{ current_user.id }}</a></li>
					<li><a href="{{ url_for('perfwks') }}">Performance Sets</a></li>
					<li><a href="{{ url_for('lr_search') }}">LR Search</a></li>
					<li><a href="{{ url_for('competencies') }}">Competencies</a></li>
					<li><a href="{{ url_for('frameworks') }}">Competency Sets</a></li>
					{% if current_user.is_authenticated() %}
				    <li><a href="{{ url_for('logout') }}">Logout</a></li>
				    {% else %}
				    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
				    {% endif %}
								
		     </ul>
		   </div>
		 </nav>
		 {% if current_user.is_authenticated() %}
		 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		   <a class="btn-floating tooltipped btn-large cyan accent-4" data-position="left" data-delay="50" data-tooltip="My account" href="{{ url_for('me') }}">
		     <i class="large material-icons">perm_identity</i>
		   </a>
		 </div>
		 {% endif %}



		{% block precontent %}{% endblock %}
			{% block content %}{% endblock %}
		<script>(".dropdown-button").dropdown();</script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  		<script src="/js/materialize.js"></script>
 		<script src="/js/init.js"></script>
		{% block js %}{% endblock %}
	</body>
	</main>
	  <footer class="page-footer transparent">
	    <div class="center footer-copyright blue">
	      Made by <a class="orange-text text-lighten-3" href="http://www.adlnet.org/">Advance Distributed Learning</a>. Take a look at our other projects on our <a class="orange-text text-lighten-3" href="https://github.com/adlnet">git-hub</a> page</p>
	    </div>
	  </footer>

</html>