{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1 class="header cyan-text"> {{ current_user.id }} </h1> <h5> all things related to you</h5>
</div>

<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle red">perm_identity</i>
      <span class="title">Name</span>
      <p>{{ name }}</p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">email</i>
      <span class="title">Email</span>
      <p>{{ email }}</p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">thumb_up</i>
      <span class="title">Achieved competencies</span>
      <p>{{ completed }}</p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle orange">schedule</i>
      <span class="title">Competencies in progress</span>
      <p>{{ started }}</p>
    </li>
  </ul>

<div class="row left">
    <div class="col-xs-12">
        <a class="btn-floating btn-small gray" href="{{ url_for('me_settings') }}"><i class="material-icons">settings</i></a>
    </div>
</div>

    <div class="row right">
        <div class="col-xs-12">
             <a href="#" class="btn btn-primary" role="button" onClick="pushBadges();">Push Badges</a>
        </div>
</div>
<br>
<br>
<br>
</div>
    


<div class="container">

<div class="row">
 {% for ma in mozilla_asserts %}
  {% if ma.badges|count > 0 %}
    <div class="col s6">
      <div class="align-left">
        <div class="card blue-grey lighten-3 z-depth-2">
          <div class="card-content black-text">
            <span class="card-title orange-text text-accent-4">{{ ma.title }} Badges</span>
            <p>{% for b in ma.badges %}
            <image src="{{b|safe}}" height="75px" width="75px"/>
            {% endfor %}</p>
          </div>
        </div>
      </div>
    </div>   
  {% endif %}
 {% endfor %}
</div>

</div>

<div class="container">
<h3 class="left-align blue-text">Competencies</h3>
{% for comp in comps %}
<div class="center-align">
  {% if comp.completed %}
  <div class="center-align">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('me_competencies') }}?uri={{ comp.uri }}">{{ comp.title }}</a></span>
          <p>{{ comp.description }}</p>
          <ul>
          {% for lr in comp.lr_data %}
          <li><a href="{{ lr }}">LR Metadata</a></li>
          {% else %}
          There are no known linked LR resources
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  {% else %}
  <div class="center-align">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('me_competencies') }}?uri={{ comp.uri }}">{{ comp.title }}</a></span>
          <p>{{ comp.description }}</p>                   
          <ul>
          {% for lr in comp.lr_data %}
          <li><a href="{{ lr }}">LR Metadata</a></li>
          {% else %}
          There are no known linked LR resources
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>

<br>
<br>

<h3 class="left-align blue-text">Competency Frameworks</h3>
  {% for cfwk in fwks %}
  <div class="center-align">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('me_frameworks') }}?uri={{cfwk.uri}}">{{ cfwk.title }}</a></span>
          {% if cfwk.completed %}
          <div class="card card-success"></div>
          {% else %}
          <div class="card card-default"></div>
          {% endif %}
            <p>{{ cfwk.description }}</p>
            <ul>
              {% for lr in cfwk.lr_data %}
              <li><a href="{{ lr }}">LR Metadata</a></li>

              {% else %}
              There are no known linked LR resources
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="col-xs-12">You have not registered for any Competency frameworks</div>
{% endfor %}

<h3 class="left-align blue-text">Performance Frameworks</h3>
<div class="center-align">
  {% for pfwk in pfwks %}
  <div class="col s12 m6">
    <div class="card blue-grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('me_perfwks') }}?uri={{pfwk.uri}}">{{ pfwk.title }}</a></span>
            {% if pfwk.completed %}
            <div class="card card-success"></div>
            {% else %}
            <div class="card card-default"></div>
            {% endif %}
              <p>{{ pfwk.description }}</p>
              <ul>
              {% for lr in pfwk.lr_data %}
              <li><a href="{{ lr }}">LR Metadata</a></li>
              {% else %}
              There are no known linked LR resources
              {% endfor %}
              </ul>
        {% else %}
        <div class="col-xs-12">You have not registered for any performance frameworks</div>
    </div>
  </div>
</div>
</div>
{% endfor %}



{% endblock %}
{% block js %}
<script src="https://backpack.openbadges.org/issuer.js"></script>
<script type="text/javascript">
    function pushBadges(){
        var badges = {{mozilla_asserts|tojson|safe }}
        toSend = [];
        $.each(badges, function(index,value){
            $.each(value["asserts"], function(i, v){
                toSend.push(v);
            });
        });
        OpenBadges.issue(toSend, function(errors, successes){
            if (errors){
                alert("Something went wrong with pushing the badges to your backpack.");
            }
            else{
                alert("You have pushed your badges to your backpack successfully!")
            }
        });
    }
</script>
{% endblock %}