{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1>{{ fwk.title }}
    {% if fwk.completed %}
    <span class="label label-success">Completed</span>
    {% endif %}
    </h1>
</div>

<ul class="collection">
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Description</h5></span>
      <p>{{ fwk.description|safe }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Type</h5></span>
      <p>{{ fwk.type }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">URI</h5></span>
      <p>{{ fwk.uri }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">IDS</h5></span>
      <p>{{ fwk.ids }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Last Modified</h5></span>
      <p>{{ fwk.lastmodified }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Levels</h5></span>
      <p>{{ fwk.levels }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Relations</h5></span>
      <p>{{ fwk.relations }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Last Modified</h5></span>
      <p>{{ fwk.lastmodified }}</p>
    </li>
  </ul>

<div class="row">
{% for c in fwk.competencies recursive %}
{% if c.type == 'http://ns.medbiq.org/competencyframework/v1/' %}
  <div class="col s12">
    <div class="card blue-grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('frameworks') }}?uri={{c.uri}}">{{ c.title }}</a></span>
        <p>{{ c.description|safe }}</p>
          <ul>
          {% for lr in c.lr_data %}
          <li><a href="{{ lr }}">LR Metadata</a></li>
          {% else %}
          There are no known linked LR resources
          {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
{ loop(c.competencies)}}
{% else %}
    <div class="col s12 m6">
      <div class="card blue-grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title"><a class="orange-text text-accent-4" href="{{ url_for('competencies') }}?uri={{c.uri}}">{{ c.title }}</a></span>
          <p>{{ c.description|safe }}</p>
            <ul>
            {% for lr in c.lr_data %}
            <li><a href="{{ lr }}">LR Metadata</a></li>
            {% else %}
            There are no known linked LR resources
            {% endfor %}
            </ul>  
        </div>
      </div>
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}