{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1>{{ comp.title }}</h1>
</div>
<p>
    {% if comp.type != "http://ns.medbiq.org/competencyobject/v1/}CompetencyObject" %}
         <a href="{{ url_for('competencies', uri=comp.uri, mb=true) }}">View as MedBiq Competency</a>
    {% endif %}
    {% if 'quiz' in comp and 'completed' in comp and comp.completed == False %}
    <a href="{{ url_for('quiz', uri=comp.uri) }}" class="btn btn-primary" role="button">Take Quiz</a>
    {% endif %}
</p>



<ul class="collection">
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Description</h5></span>
      <p>{{ comp.description|safe }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Type</h5></span>
      <p>{{ comp.type }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">URI</h5></span>
      <p>{{ comp.uri }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">IDS</h5></span>
      <p>{{ comp.ids }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Last Modified</h5></span>
      <p>{{ comp.lastmodified }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Levels</h5></span>
      <p>{{ comp.levels }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Relations</h5></span>
      <p>{{ comp.relations }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Assertions</h5></span>
      <ul>
        {% for p in comp.performances %}
            {% if 'badgeassertionuri' in p %}
            <li><a href="{{ p.badgeassertionuri }}">{{ p.levelid }}</a></li>
            {% endif %}
        {% else %}
        You haven't earned any assertions yet!
        {% endfor %}
        </ul>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Linked LR data</h5></span>
      <p>
        {% for lr in comp.lr_data %}
        <li><a href="{{ lr }}"><h5 class="orange-text accent-4">LR Metadata</a></h5></li>
        {% else %}
        There are no known linked LR resources
        {% endfor %}
      </p>
    </li>
  </ul>
</div>
</div>
{% endblock %}