{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1>{{ fwk.title }}</h1>
        {% if fwk.uri == 'http://12.109.40.34/performance-framework/xapi/tetris' %}
        <br>
        <form class="form-inline" role="form" action="{{ url_for('view_assertions') }}" method="post">
            <input type="hidden" name="uri" value="{{fwk.uri}}">
            <button type="submit" class="btn btn-primary">View Badge Assertions</button>
        </form>
        {% endif %}      
        <small>*Note: Make sure to have a default endpoint added to your profile or have a default one enabled in the settings else no assertions will be created!</small>
        {% if fwk.completed %}
        <small><span class="label label-success">completed</span></small>
        {% endif %}
    
</div>




 <ul class="collection">
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Description</h5></span>
      <p>{{ fwk.description|safe }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Type</h5></span>
      <p>{{ fwk.type }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">URI</h5></span>
      <p>{{ fwk.uri }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">IDS</h5></span>
      <p>{{ fwk.ids }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Last Modified</h5></span>
      <p>{{ fwk.lastmodified }}</p>
    </li>
    <li class="collection-item">
      <span class="title"><h5 class="orange-text accent-4">Referenced Object ID</h5></span>
      <p>{{ fwk.objectids }}</p>
    </li>
  </ul>
{% if error %}
<div class="alert alert-danger">Something bad happened, try uploading badge image again - {{ error }}</div>
{% endif %}

<h2> Components </h2>

<div class="row">
{% for c in fwk.components %}
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{c.title}}</h3>
        </div>
        <div class="panel-body">
            <h4>Competencies</h4>
            <div class="list-group">
            {% for p in c.competencies %}
            {% if p.type == 'http://ns.medbiq.org/competencyframework/v1/' %}
                <a href="{{ url_for('me_frameworks') }}?uri={{p.entry}}" class="list-group-item">{{ p.entry }}</a>
            {% else %}
                <a href="{{ url_for('me_competencies') }}?uri={{p.entry}}" class="list-group-item">{{ p.entry }}</a>
            {% endif %}
            {% endfor %}
            </div>
            <h4>Performance Levels</h4>
            <div class="list-group">
            <div class="row">
            {% for pl in c.performancelevels %}
            <div class="col s6">
            <div class="align-left">
                <div class="card blue-grey lighten-3 z-depth-2">
                  <div class="card-content black-text">
                    <span class="card-title orange-text text-accent-4">{{ pl.id }}</span>
                    <p class="list-group-item-text">
                        <dl class="dl-horizontal">
                            <dt class="light-blue-text text-darken-4">Description:</dt>
                            <dt>{{ pl.description|safe }}</dt>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="light-blue-text text-darken-4">Score:</dt>
                            <dt>{{ pl.score.singlevalue }}</dt>
                        </dl>
                    </p>
                  </div>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>  
{% endblock %}